*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #0f0e17;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #a7a9be;
  line-height: 1.5;
}

header{
  text-decoration: none;
  background-color: #f25042;
  padding: 14px 16px;
  color: white;
  position: fixed;
  display: inline;
}
