*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #0f0e17;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #a7a9be;
  line-height: 1.5;
}

header{
  width: 100vw;
  text-decoration: none;
  background-color: #f25042;
  padding: 10px;
  color: white;
  position: fixed;
  display: inline;
  text-transform: uppercase;
  text-align: right;
   z-index: 10; 
}

nav a{
  padding: 0 10px;
  display: inline;
  color: white;
  text-decoration: none;
}

.title {
  font-weight: bold;
  float: left;
}

main{
      position: relative;
  top: 80px;
  width: 500px;
  margin: 0 25px 100px 25px;
}
